In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("aapl.csv")
df

          Date    Open    High     Low   Close    Volume
0     7-Jul-17  142.90  144.75  142.90  144.18  19201712
1     6-Jul-17  143.02  143.50  142.41  142.73  24128782
2     5-Jul-17  143.69  144.79  142.72  144.09  21569557
3     3-Jul-17  144.88  145.30  143.10  143.50  14277848
4    30-Jun-17  144.45  144.96  143.78  144.02  23024107
..         ...     ...     ...     ...     ...       ...
246  15-Jul-16   98.92   99.30   98.50   98.78  30136990
247  14-Jul-16   97.39   98.99   97.32   98.79  38918997
248  13-Jul-16   97.41   97.67   96.84   96.87  25892171
249  12-Jul-16   97.17   97.70   97.12   97.42  24167463
250  11-Jul-16   96.75   97.65   96.73   96.98  23794945

[251 rows x 6 columns]

In [6]:
x = df[["High","Low"]].head(10)
x

     High     Low
0  144.75  142.90
1  143.50  142.41
2  144.79  142.72
3  145.30  143.10
4  144.96  143.78
5  145.13  142.28
6  146.11  143.16
7  146.16  143.62
8  148.28  145.38
9  147.16  145.11

In [8]:
y = df["Volume"].head(10)
y

0    19201712
1    24128782
2    21569557
3    14277848
4    23024107
5    31499368
6    22082432
7    24761891
8    25692361
9    35439389
Name: Volume, dtype: int64

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=10)

In [16]:
x_train

     High     Low
6  146.11  143.16
3  145.30  143.10
1  143.50  142.41
0  144.75  142.90
7  146.16  143.62
4  144.96  143.78
9  147.16  145.11

In [17]:
reg = linear_model.LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
reg.predict(x_test)

array([32994417.79752958, 18896945.51294422, 14929811.2321732 ])

In [20]:
x_test
y_test

8    25692361
2    21569557
5    31499368
Name: Volume, dtype: int64

In [21]:
reg.score(x_test,y_test)

-5.730775256115014